%% Tell emacs to use -*- erlang -*- mode for this file
{lib_dirs,["deps"]}.

{deps,
 [{parse_trans,  ".*", {git, "git://github.com/noblesamurai/parse_trans.git", {tag, "c7ec4dd"}}},
  {edown,        ".*", {git, "git://github.com/noblesamurai/edown.git", {tag, "35f8296"}}},
  {eunit_addons, ".*", {git, "git://github.com/noblesamurai/eunit_addons.git", {tag, "bdb49eb"}}}
 ]}.
{edoc_opts, [{doclet, edown_doclet}]}.
